.container {
    position: relative;
    background-color: #faf0e6;
}

.heading-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primaryFont);
    font-size: 30px;
    margin-left: 30px;
    z-index: 2;
}

.desc h6{
    font-size: 1.5rem;
    font-weight: 350;
    font-family: 'BestermindRegular';
}

.swiper {
    margin-top: 25px;
    width: 60%;
    height: 60%;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.bg-img img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.mySwiper {
    position: relative;
    z-index: 2;
}

.swiper-slide {
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 50%;
    background-size: cover;
    object-fit: cover;
}

/* Mobile Phones */
@media screen and (max-width: 576px) {
    .swiper {
        width: 90%;
        height: 90%;
    }

    .swiper-slide img {
        width: 80%;
    }

    .heading-1 {
        font-size: 20px;
    }

    .heading-1 h4 {
        font-size: 1.25rem;
    }

    .bg-img img {
        display: none;
    }
}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide img {
        width: 100%;
    }

    .heading-1 {
        font-size: 24px;
    }

    .heading-1 h4 {
        font-size: 1rem;
    }

    .bg-img img {
        display: none;
    }
}

/* Laptops and Desktops */
@media screen and (min-width: 769px) {
    .swiper {
        width: 60%;
        height: 60%;
    }

    .swiper-slide img {
        width: 50%;
    }

    .heading-1 {
        font-size: 30px;
    }

    .heading-1 h4 {
        font-size: 1.75rem;
    }
}
