.experience {
    min-height: 80vh;
}

.experience-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: hsla(117, 56%, 49%, 0.702);
}

.experience-description {
    width: 100%;
    flex: 0.65;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.experience-description > h1 {
    font-size: 3.5rem;
    font-family: var(--primaryFont);
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.experience-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
    padding: 1.5rem;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    transition: background-color 200ms ease-in-out;
    transition: scale 0.19s ease-in-out;
}

.experience-card:hover {
    background-color: var(--primary50);
    scale: 1.03;
}

.expcard-img {
    width: 15%; /* Adjusted width */
    height: auto; /* Adjusted height */
    margin-right: 1rem; /* Add margin between image and text */
}

.expcard-img > img {
    border-radius: 50%;
    width: 100%;
}

.experience-details {
    flex: 1; /* Take remaining space */
}

.experience-details > h6 {
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.experience-details > h4 {
    font-family: var(--primaryFont);
    font-size: 1.225rem;
    font-weight: 600;
}

.experience-details > h5 {
    font-family: var(--primaryFont);
    font-size: 1.15rem;
    font-weight: 600;
}

@media screen and (max-width: 992px) {
    .experience-card {
        width: 100%;
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .expcard-img {
        width: 20%;
    }

    .experience-details > h6 {
        font-size: 0.85rem;
        margin-bottom: 0.25rem;
    }

    .experience-details > h4 {
        font-size: 1rem;
    }

    .experience-details > h5 {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 800px) {
    .experience-description > h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem; /* Adjust margin for smaller screens */
    }
}

@media screen and (max-width: 600px) {
    .experience-card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .expcard-img {
        margin-right: 0; /* Remove margin between image and text */
        margin-bottom: 1rem; /* Add margin below image */
    }
}
