.achievement {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.achievement-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.4;
    width: 90%;
}

.achievement-body h1 {
    font-family: var(--primaryFont);
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

.achievement-body h4 {
    font-size: 1.75rem;
    font-family: var(--primaryFont);
    font-weight: 400;
}

.achievement-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid with minimum width of 250px */
    grid-gap: 1rem; /* spacing between cards */
    width: 90%; /* adjust width as needed */
    margin: 0 auto; /* center the grid */
}

.achievement-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    transition: background-color 200ms ease-in-out;
    position: relative;
    transition: 0.3 ease-in-out;
}

.achievement-card:hover {
    cursor: pointer;
    scale: 1.01
}

.achievecard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.achievecard-details1 h2 {
    font-family: var(--primaryFont);
    font-weight: 500;
    font-size: 1.4rem; /* Adjust font size for smaller screens */
    margin-bottom: 0.5rem;
}

.achievecard-details1 p {
    font-family: var(--primaryFont);
    font-weight: 400;
    margin-bottom: 0.9rem;
}

.achievecard-imgcontainer > img {
    width: 150px;
    height: 130px;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .achievement {
        padding: 2rem;
    }
    .achievement-cards {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .achievement-body h1 {
        font-size: 2.5rem;
    }
    .achievement-cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width for smaller screens */
    }
}

@media (max-width: 390px) {
    .achievement-body h4 {
        font-size: 1.5rem;
    }
}
